[Unit]
Description=NetCheck test for Internet connectivity
# Description=Place this file in /lib/systemd/system
# Description=N4IRS 10/27/2020 Version 1.6.0

After=network-online.target syslog.target
Wants=network-online.target

[Service]
Type=notify
StandardOutput=null
ExecStartPre = /bin/sh -c 'echo "Starting NetCheck in systemd: [`date +%%T.%%3N`]" >> /var/log/netcheck'
ExecStart=/usr/local/sbin/netcheck

[Install]
# To make the network-online.target available
# systemctl enable systemd-networkd-wait-online.service

WantedBy=multi-user.target
